*{
    margin: 0;
    padding: 0;
}
/*Header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004080;
    color: white;
    padding: 20px;
}
.logo{
    font-size: 15px;
    width: 10em;
    height: 5em;
    padding-top: -5em;
}
.banner{
    margin-top: -3em;
    font-size: 20px;
    margin-left: 50em;
    flex-grow: 1;
}
nav{
    background-color: #928b8b;
    width: 100%;
    height:  3em;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}
nav ul il {
    margin: 0 15px;
}
a{
    text-decoration: none;
    font-size: 20px;
}
nav ul il a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    justify-content: space-between;
}
nav ul il a {
    background-color: #928b8b;
}

.bt{
    margin: 2em;
}
.btn{
    text-align: center;
    margin-top: 2em;
}
.bt{
    text-align: center;
    margin-top: 2em;
}
.btt{
    text-align: center;
    margin-top: 25em;
}
.btne{
    margin-top: 20px;
}
button{
    width: 20em;
    height: 5em;
    background-color: green;
    border-radius: 15px;
    border: none;
}
button:active{
    transform: scale(1.5);
}
table{
    width: 70%;
    height: 50%;
    font-size: 20px;
    margin-left: 7em;
}
.parag{
    text-align: center;
    font-size: 25px;
}
h3{
    color: rgb(25, 156, 36);
    text-align: center;
}
input{
    width: 30em;
    height: 4em;
    background-color: rgb(160, 168, 168);
    margin-top: 3em;
    border: none;
    border-radius: 20px;
}
.form{
    text-align: center;
    width: 60em;
    height: 30em;
    background-color: rgb(182, 175, 175);
    margin-left: 10em;
    border-radius: 10px;
}
h1{
    text-align: center;
}
footer{
    background-color: #004080;
    color: white;
    text-align:  center;
    padding: 15px;
    margin-top: 20px;
    margin: 3px;
}
.container{
    background-color: #13077c;
    width: 50%;
   height: 24em;
   text-align: left;
   margin-left: 20em;
   margin-top: 3em;
   padding: 5em;
   border-radius: 3em;
}
.ad{
    text-align: center;
}
p{
    font-size: 20px;
}
.slider {
    width: 600px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    overflow: hidden;
    position: relative;
}

.slider img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 100%;
    height: 100%;
    max-width: 100em;
    object-fit: cover;
}

.slider img.active {
    opacity: 1;
}
.link{
    justify-content: space-between;
}